::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
}

.file-tile {
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px 0;
}

.file-tile input {
  border-radius: 5px;
  border: 1.5px solid black;
  padding: 0 15px;
  height: 2.8125rem;
  width: 12.5rem;
}

input[type="file"] {
  display: none;
}

.file-tile p {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 15px 0 0;
}

.file-validator-icon {
  margin-right: 5px;
  height: 0.9375rem;
  width: 0.9375rem;
}

.file-validator {
  margin-top: 7px;
  align-items: center;
}

.file-validator p {
  font-size: 0.6875rem;
}

.file-tile label {
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 5px;
  color: white;
  background-color: #065fd4;
  height: 2.8125rem;
  width: 14.375rem;
}

label img {
  height: 1.125rem;
  width: 1.125rem;
  margin-right: 10px;
  margin-left: 15px;
}

#file-btn-text {
  font-weight: 400;
}

.file-text {
  height: 100%;
  align-items: center;
  /* justify-content: center; */
}
