h1 {
  font-size: 3rem;
  margin: 10px 0;
  width: 30.5rem;
}

.landing-greeting img {
  width: 6.25rem;
}

.landing-greeting p {
  font-size: 1.25rem;
  font-weight: 300;
  width: 30.5rem;
}

#landing-illustration {
  width: 37.5rem;
}

#play-button {
  margin-right: 0.625rem;
  width: 3.125rem;
}

#play-link:hover + a {
  color: red;
}

#play-link {
  line-height: 0;
}

.landing-content {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: left;
}

.landing-content a {
  font-weight: 600;
}

.start-container {
  align-items: center;
  display: flex;
}
