#alliance-logo {
  width: 9.375rem;
}

#phone-container {
  width: 9.375rem;
}

#phone-icon {
  width: 1.5rem;
}

.nav-links {
  display: inline-block;
  margin: 0 0.9375rem;
  width: 6.25rem;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
