.image-card {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  height: 4.375rem;
  width: 4.375rem;
  margin-right: 15px;
}

.image-card img {
  height: 2.5rem;
  width: 2.5rem;
}
