::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
}

.input-tile {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 0;
}

.input-tile input {
  border-radius: 5px;
  border: 1.5px solid;
  padding: 0 15px;
  height: 2.8125rem;
  width: 12.5rem;
}

input[type="text" i] {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

input[type="email"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

input[type="file"] {
  border-color: #065fd4;
  background-color: #065fd4;
  cursor: pointer;
}

.input-tile p {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 15px 0 0;
}

.input-tile .row-container {
  margin: 10px 0;
  visibility: hidden;
}

.input-tile img {
  height: 0.9375rem;
  margin-right: 5px;
  width: 0.9375rem;
}

.input-tile span {
  color: red;
  font-size: 0.75rem;
  font-weight: 300;
}

.input-tile-error:focus {
  border-color: red;
  outline: red;
}

.input-tile-success:focus {
  border-color: #4e9e32;
  outline: #4e9e32;
}
