a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: red;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 50px 100px;
  text-align: center;
}

p {
  line-height: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
