.outlined-button {
  align-items: center;
  border-radius: 5px;
  border: 1.5px solid black;
  cursor: pointer;
  display: flex;
  height: 2.625rem;
  margin-right: 10px;
  text-align: center;
  width: 7.9375rem;
  background-color: white;
  display: inline;
  font-size: 0.6875rem;
  font-weight: 600;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.outlined-button:hover {
  background-color: black;
  color: white;
}
